## ---------- ##
## Containers ##
## ---------- ##
r_container: "docker://rtpop/process_cel:0.1"

## Number of cores
ncores: 30

## Directories

src_dir: "src" # Code directory
data_dir: "data"
raw_data_dir: "data/raw_data"
processed_data_dir: "data/processed_data"

# Run ID
run_tag: "multiregion"

## ----------- ##
## Input files ##
## ----------- ##
metadata_file: "all_primary_samples.csv"

## ----------------- ##
## Processing params ##
## ----------------- ##

# Which files to select for processing
# in case different batches of files need different processing (i.e. different batch correction, etc)
# options: "all", "multi_region", "single_region"

file_selection_method: "multi_region"
normal_samples: false
batch_metadata_column: "Batch_by_lot"
normalise: FALSE
background_correction: TRUE
background_correction_method: "rma"
normalization_method: "quantile"

## ------------ ##
## Output files ##
## ------------ ##

exp_file_unnormalised: "multi_region_exp_unnormalised.txt"
exp_file_batch_corrected: "multi_region_exp_batch_corrected.txt"
exp_file_final: "multi_region_exp_final.txt"
